:root {
      --body-size-width: 350px;
      --body-size-height: 800px;
      --input-size-width: 250px;
      --input-size-height: 50px;
      --content-size-width: 300px;
      --content-size-height: 650px;
      font-family: 'Helvetica', 'Arial', sans-serif;
      font-size: 16pt;
}

input {
    all: unset;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.custom-drop-list-body {
  width: var(--body-size-width);
  height: var(--body-size-height);

  background: var(--color-primary);

  padding: 20px;
  box-sizing: border-box;

  gap: 10px
}

.custom-drop-list-header {
  flex-direction: row;
  background: var(--color-accent);
  color: whitesmoke;
}

.custom-drop-list-input {
  width: var(--input-size-width);
  height: var(--input-size-height);

  box-sizing: border-box;
  padding-left: 15px;
}

.custom-drop-list-input::placeholder {
color: whitesmoke;
}

.custom-drop-list-content {
  width: var(--content-size-width);
  height: var(--content-size-height);


  gap: 10px;

  overflow-y: auto;
}

.custom-drop-list-item {
  width: 250px;
  border-bottom: 2px solid var(--color-accent);
}