.small-drop-list-body {
    width: 250px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--color-accent) 2px solid;
    box-sizing: border-box;
}

.small-drop-list-body input {

}

.small-drop-list-content {
    display: none;
    overflow-y: auto;

}

.small-drop-list-item {
    width: 250px;
    font-size: 12pt;
}

