/app/client/package-lock.json
/app/server/main/external_services/google/oauth2.keys.json
/app/client/coverage_raw/
/app/client/coverage_raw/test_build_presentation_coverage.json
/app/client/coverage_raw/test_folder_coverage.json
/app/client/coverage_raw/test_import_slides_coverage.json
/app/client/coverage_raw/test_pres_search_coverage.json
/app/client/coverage_raw/test_tag_markup_coverage.json
