.AppSidebar {
    display: flex;
    flex-direction: column;

    width: 3vw;
    height: 92.5vh;

    box-sizing: border-box;
    border-right: 1px solid black;

    gap:calc(20vh - 3vw);

    padding: 20vh 0;
}

.AppSidebar > button {
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    height: 3vw;
    width: 20vh;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 2vh;

    padding: 0;

    transform: rotate(-90deg);
    transform-origin: 0 0;

}

