.AppSidebar {
    display: flex;
    flex-direction: column;

    width: 3vw;
    height: 92.5vh;

    box-sizing: border-box;
    border-right: 1px solid black;

    gap:calc(25vh - 3vw);

    padding: 25vh 0;
}

.AppSidebar > button {
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    height: 3vw;
    width: 25vh;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 2vh;

    padding: 0;

    transform: rotate(-90deg);
    transform-origin: 0 0;

}

.AppSidebar > button.selected {
    background: lightgray;
    box-sizing: border-box;
    border: 1px solid black;
    border-top: none;
}

.AppSidebar > button:first-child {
    border-right: none;
}
