.AppSidebar {
    display: flex;
    flex-direction: column;

    width: 30px;
    height: 100%;

    box-sizing: border-box;
    border-right: 1px solid black;

    gap:calc(220px - 30px);

    padding: 250px 0;
}

.AppSidebar > button {
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    height: 30px;
    width: 220px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14pt;

    padding: 0;

    transform: rotate(-90deg);
    transform-origin: 0 0;

}

