.BuildPresentationModal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -30px;
    right:-30px;

    width: 100%;
    height: 100%;

    top:0;
    margin: auto;

    background: rgba(0, 0, 0, 0.5)
}

.BuildPresentationModal > .build-presentation {
    width: 65vh;
    height: 90vh;

    background: white;
    box-sizing: border-box;
    border: 2px solid black;
    position: relative;

    display: flex;
    gap: 1.5vh;
    flex-direction: column;
    align-items: center;
    padding: 1.5vh;
}

.BuildPresentationModal > .build-presentation > h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.5vh;
    margin: 0;
}

.BuildPresentationModal > .build-presentation > .pres-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;

    width: 50vh;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;

    box-sizing: border-box;
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
}


.BuildPresentationModal > .build-presentation > .pres-name > input {
    width: 20vh;
    height: 2.5vh;

    box-sizing: border-box;

    padding: 0.5vh 1vh;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.BuildPresentationModal > .build-presentation > .save-to {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;

    width: 50vh;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;

    box-sizing: border-box;
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
}

.BuildPresentationModal > .build-presentation > .save-to > button {
    align-self: center;
    width: 20vh;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;

    background: white;

    padding: 0.5vh 1vh;
}

.BuildPresentationModal > .build-presentation > .style-templates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5vh;

    width: 50vh;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;

    box-sizing: border-box;
    padding-left: 4vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
}

.BuildPresentationModal > .build-presentation > .style-templates > .style-templates-list {
    display: flex;
    flex-direction: row;
    gap: 1.5vh;
    overflow-x: auto;
    width: 46vh;
    align-self: center;
    margin-left: -2.25vh;
    padding: 1vh 1vh 1vh 2vh;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.3)
}

.BuildPresentationModal > .build-presentation > .style-templates > .style-templates-list > .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 46vh;
    height: 100px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2.5vh;
}

.BuildPresentationModal > .build-presentation > .style-templates > .style-templates-list > .TemplateCard {
    width: 18vh;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 1vh;
}

.BuildPresentationModal > .build-presentation > .style-templates > .style-templates-list > .TemplateCard.selected {
    border-color:red;
}

.BuildPresentationModal > .build-presentation > .ratio-filter {
    width: 50vh;
    box-sizing: border-box;
    padding-left: 4vh;
    padding-bottom: 1.25vh;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid black;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2vh;
}

.BuildPresentationModal > .build-presentation > .ratio-filter > .radio-wrapper {
    box-sizing: border-box;
    padding-left: 1vh;
    display: flex;
    flex-direction: column;
    gap: 0.75vh;

}

.BuildPresentationModal > .build-presentation > .ratio-filter > .radio-wrapper > div {
    display: flex;
    gap: 1vh;
}

.BuildPresentationModal > .build-presentation > .ratio-filter > .radio-wrapper > div > input {
    width: 1.75vh;
}

.BuildPresentationModal > .build-presentation > button {
    position: absolute;
    bottom: 2vh;
    padding: 0.5vh 1vh;
    background: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2vh;
}



.BuildPresentationModal > .build-presentation > .loading {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2.5vh;
}

.BuildPresentationModal > .build-presentation > .build-done-consent {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 2vh;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2.5vh;

    position: relative;
}

.BuildPresentationModal > .build-presentation > .build-done-consent > div {
    position: absolute;
    bottom: 2.5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;

}

.BuildPresentationModal > .build-presentation > .build-done-consent > div > button {
    width: 15vh;
    padding: 0.5vh 1vh;
    background: white;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2vh;
}