.FolderPreferencesModal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    width: 100%;
    height: 100%;

    top:0;
    margin: auto;

    background: rgba(0, 0, 0, 0.5)
}

.FolderPreferencesModal > .folder-preferences {
    width: 90vh;
    height: 80vh;

    background: white;
    box-sizing: border-box;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.FolderPreferencesModal > .folder-preferences > h3 {
    position: relative;

    width: 70vh;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    margin: 1vh 0 1vh 0;
    padding: 1vh;
    border-bottom: 1px solid black;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3vh;
}

.FolderPreferencesModal > .folder-preferences > h3 > button {
    position: absolute;
    right: 1vw;
    border: none;
    background: white;
    aspect-ratio: 1;
    width: 4vh;
}

.FolderPreferencesModal > .folder-preferences > h3 > button > img {
    aspect-ratio: 1;
    width: 3vh;
}

.FolderPreferencesModal > .folder-preferences > h4 {
    width: 70vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;

    padding-bottom: 1vh;
    padding-left: 1.5vh;
    margin-bottom: 1.5vh;

    border-bottom: 1px solid black;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.5vh;
}

.FolderPreferencesModal > .folder-preferences > .folder-list {
    width: 70vh;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2vh;
    row-gap: 1vh;

    justify-content: flex-start;
    align-items: flex-start;

}

.FolderPreferencesModal > .folder-preferences > button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2vh;

    background: white;

    box-sizing: border-box;
    padding: 1vh 2vw;
    margin: 1vh;
    border: 1px solid black;
}

.FolderPreferencesModal > .folder-preferences > button:hover {
    background: lightgray;
}

.FolderPreferencesModal > .folder-preferences > .loading {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3vh;
}

.FolderPreferencesModal > .folder-preferences > .folder-list > .Folder {
    width: 12.4vh;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
}

.FolderPreferencesModal > .folder-preferences > .folder-list > .Folder > img {
    width: 12.4vh;
}

.FolderPreferencesModal > .folder-preferences > .folder-list > .Folder > .folder-name {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2vh;
}
