.SelectPresentationMenu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: 1vh;

    width: 30vw;
    height: 60vh;

    background: white;
    box-sizing: border-box;
    border: 1px solid black;
    border-left: none;

    padding: 1vh 2vh;

    position: absolute;
    left: 0;
    bottom: -60vh;

    overflow-y: auto;

    z-index: 999;
}

.SelectPresentationMenu > .pres-search {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1vh;


    box-sizing: border-box;
    border-bottom: 2px solid black;
    padding-bottom: 2vh;
    margin-bottom: 1vh;
}

.SelectPresentationMenu > .pres-search > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.SelectPresentationMenu > .pres-search > div > input {
    height: 2vh;
    width: 20vh;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5vh;
}

.SelectPresentationMenu > .pres-search > h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 3vh;

    align-self: flex-start;
    margin: 0 0 1vh;
    padding: 0;
}


.SelectPresentationMenu > .pres-search > div > .radio-wrapper {
    height: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25vh;
}

.SelectPresentationMenu > .pres-search > div > .radio-wrapper > input {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;


}


.SelectPresentationMenu > .loading {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3vh;
}

.SelectPresentationMenu > button{
    position: absolute;
    top: 1.25vh;
    right: 1.5vh;
    background: transparent;
    border: none;
}

.SelectPresentationMenu > button > img {
    aspect-ratio: 1;
    width: 3vh;
}

.MenuObject {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    box-sizing: border-box;
}

.MenuObject > div {
    padding-left: 3vh;
}

.MenuObject h3, h4, h5 {
    margin: 0;
}

.MenuObject.root-folder {
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding-bottom: 1vh;
}

.MenuObject.root-folder > h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 3vh;
    margin-bottom: 0.5vh;
}

.MenuObject.folder {
    margin-bottom: 0.5vh;
}

.MenuObject.folder > h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
}

.MenuObject.presentation > h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vh;
}

.MenuObject.presentation > h5:hover {
    color: red;
}

.MenuObject.presentation.created {
    animation: color-change-created 1s infinite alternate;
    pointer-events: none;
}

.MenuObject.presentation.modified {
    animation: color-change-modified 1s infinite alternate;
    pointer-events: none;
}


@keyframes color-change-created {
    0% { color: black; }
    100% { color: rgb(0, 192, 0); }
}

@keyframes color-change-modified {
    0% { color: black; }
    100% { color: rgb(0, 128, 255); }
}