.UserSettingsModal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    width: 100%;
    height: 100%;

    top:0;
    margin: auto;

    background: rgba(0, 0, 0, 0.5)
}

.UserSettingsModal > .user-settings {
    width: 60vh;
    height: 60vh;

    background: white;

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 2vh;

    box-sizing: border-box;
    border: 2px solid black
}

.UserSettingsModal > .user-settings > h3 {
    display: flex;
    justify-content: center;

    width: 50vh;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3vh;
    box-sizing: border-box;

    padding: 1vh;
    margin: 0 0 0 1vh;
    border-bottom: 1px solid black;

    user-select: none;

}

.UserSettingsModal > .user-settings > .settings-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vh;

    box-sizing: border-box;
    padding-left: 2vh;

    gap: 1vh;
}

.UserSettingsModal > .user-settings > .settings-wrapper > div {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    box-sizing: border-box;

    user-select: none;
}