.builder-column {
    position: relative;

    height: 100%;

    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;

    background: var(--color-primary);

    box-sizing: border-box;
    padding: 30px 20px 30px 20px;

    gap:20px;
}

.builder-column-header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;


    color: whitesmoke;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20pt;

    background: var(--color-accent);
}

.builder-select-folder-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background: var(--color-background);

    width: 900px;
    height: 600px;

    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
    align-items: center;

    z-index: 500;

}

.builder-select-folder-modal-body {
    display: grid;
    row-gap: 40px;
    column-gap: 20px;
    height: 580px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);

    justify-content: space-around;
    align-content: start;

    overflow-y: auto;
}

.select-folder-modal-folder-img {
    width: 80px;
}

.builder-select-folder-modal-body > div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12pt;
    color: var(--color-accent);
    text-align: center;

}

.builder-select-folder-modal-footer {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.builder-select-folder-modal-footer > div {
    padding: 2px;
    border: var(--color-accent) 2px solid;
}

.builder-select-folder-modal-header {
    height: 60px;
    color: var(--color-accent);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16pt;
}



