.main-pres-column {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background: var(--color-primary);

    flex: 2;

    box-sizing: border-box;
    padding: 30px 5px 30px 20px;
}

.main-pres-column-body {
    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.main-pres-column-header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 100%;

    color: whitesmoke;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20pt;
    position: relative;
    background: var(--color-accent);

    user-select: none;
}


.main-pres-column > img {
    width: 600px;
    box-sizing: border-box;
}

.pres-drawer-header {
    width: 75%;
    height: 35px;

    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    color: whitesmoke;
    font-size: 20pt;

    user-select: none;


}


.pres-drawer-search-field {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14pt;

    width: var(--input-size-width);
    height: var(--input-size-height);

    box-sizing: border-box;
    padding-left: 15px;

    background: var(--color-accent);
}

.pres-drawer-search-field::placeholder {
    color: whitesmoke;
}

.pres-drawer-header > div {
    background: var(--color-accent);
    height: 100%;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.pres-drawer-header img {
    height: 30px;
}


.pres-drawer {
    width: 100%;
    height: calc(100% - 105px);
    box-sizing: border-box;
    z-index: 10;
}

.main-pres-column-toolbar {
    height: 40%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-pres-column-toolbar img {
    width: 40px;
}

.toggle-pres-tags-button {
    position: absolute;
    right: 20px;
    height: 40px;
    width: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    user-select: none;
    top: 0;
}

